{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
    {% for categorie in categories %}

        <h2> {{ categorie.name }}  </h2>
    {% endfor %}


{% endblock %}
